.image-banner {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    height: 50vh;
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

.image-banner img {
    opacity: 0.3;
    width: 100%;
    height: auto;
}

.image-banner .back-button {
    position: absolute;
    top: 72px;
    left: 32px;
    opacity: 1;
    height: 48px;
    width: auto;
    cursor: pointer;
    z-index: 1;
}

#main-content {
    text-align: center;
}

.social-banner {
    margin-bottom: 8px;
}

.social-banner img {
    height: 36px;
    width: auto;
    margin: 4px;
}